.vscode/launch.json
.vscode/settings.json

server.pyc
__pycache__/server.cpython-311.pyc
__pycache__/database.cpython-311.pyc
__pycache__/settings.cpython-311.pyc
__pycache__/settings.cpython-38.pyc
__pycache__/server.cpython-38.pyc
__pycache__/database.cpython-38.pyc

database/profiledata.json
database/userdata.json
database/assets/assets.json
database/assets/assets.json.old
database/assets/userdata/pfp/Carter2565.gif
database/assets/userdata/pfp/Carter25652.png
database/assets/userdata/pfp/default.png
database/assets/0/asset.json
database/assets.json

test.py

database Backup/profiledata.json
database Backup/userdata.json
database Backup/assets/assets.json
database Backup/assets/assets.json.old
database Backup/assets/userdata/pfp/Carter2565.gif
database Backup/assets/userdata/pfp/Carter25652.png
database Backup/assets/userdata/pfp/default.png
database Backup/assets/0/asset.json
database Backup/assets.json

.DS_Store


set.info
