.vscode/launch.json
.vscode/settings.json

__pycache__/database.cpython-311.pyc
__pycache__/settings.cpython-311.pyc

database/profiledata.json
database/userdata.json
database/assets/assets.json
database/assets/assets.json.old
database/assets/userdata/pfp/Carter2565.gif
database/assets/userdata/pfp/Carter25652.png
database/assets/userdata/pfp/default.png
database/assets/0/asset.json
database/assets.json

test.py
